{% extends "layout/base.twig" %}

{% from "macros.twig" import class_item, class_name, class_type, member_signature %}

{% block title %}
{% set title = class %}
{% set category = "API Reference" %}
{{ parent() }}
{% endblock %}

{% block content %}
{% if class.tags("since")|length %}
{% for since in class.tags("since") %}

Since Matomo {{ since[0] }}
{% endfor %}
{% endif %}
{% if class.shortdesc %}

{{ class.shortdesc|removeNewLine|shortDescription|inlinelinkparser(class)|raw }}
{% endif %}
{% if class.longdesc %}

{{ class.longdesc|inlinelinkparser(class)|raw }}
{% endif %}
{% set found = false %}
{% for constant in constants %}
{% if constant.longdesc %}
{% set found = true %}
{% endif %}
{% endfor %}
{% if found and constants %}

Constants
---------

This {{ class_type(class) }} defines the following constants:

{% for constant in constants %}
{% if constant.longdesc %}
- [`{{ constant.name }}`](#{{ constant.name|lower }}){% if constant.shortdesc %} — {{ constant.shortdesc|inlinelinkparser(class)|raw }}{% endif %}{% if class.constants[constant.name|string] is not defined %} Inherited from {{ class_name(constant.getClass, true, "", true) }}{%endif%}
{% endif %}
{% endfor %}

{% for constant in constants %}
{% if constant.longdesc %}
<a name="{{ constant.name|lower }}" id="{{ constant.name|lower }}"></a>
<a name="{{ constant.name }}" id="{{ constant.name }}"></a>
### `{{ constant.name }}`

{{ constant.longdesc|inlinelinkparser(class)|raw }}
{% if constant.tags("since")|length %}
{% for since in constant.tags("since") %}

Since Matomo {{ since[0] }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if properties %}

Properties
----------

This {{ class_type(class) }} defines the following properties:

{% for property in properties %}
- [`${{ property.name }}`](#${{ property.name|lower }}){% if property.shortdesc %} &mdash; {{ property.shortdesc|removeNewLine|shortDescription|inlinelinkparser(class)|raw }}{% endif %}{% if class.properties[property.name|string] is not defined %} Inherited from {{ class_name(property.getClass, true, "", true) }}{%endif%}

{% endfor %}
{% for property in properties %}

<a name="${{ property.name|lower }}" id="${{ property.name|lower }}"></a>
<a name="{{ property.name }}" id="{{ property.name }}"></a>
### `${{ property.name }}`
{% if property.tags("since")|length %}
{% for since in property.tags("since") %}

Since Matomo {{ since[0] }}
{% endfor %}
{% endif %}
{% if property.shortdesc %}

{{ property.shortdesc|inlinelinkparser(class)|raw }}
{% endif %}
{% if property.longdesc|raw %}

{{ property.longdesc|inlinelinkparser(class)|raw }}
{% endif %}

#### Signature

{{ member_signature("property", property, class) }}
{% endfor %}
{% endif %}
{% if methods %}

Methods
-------

The {{ class_type(class) }} defines the following methods:

{% for method in methods %}
- [`{{ method.name }}()`](#{{ method.name|lower }}){% if method.shortdesc %} &mdash; {{ method.shortdesc|removeNewLine|shortDescription|inlinelinkparser(class)|raw }}{% endif %}{% if class.methods[method.name|string] is not defined %} Inherited from {{ class_name(method.getClass, true, "", true) }}{%endif%}

{% endfor %}

{% for method in methods %}
<a name="{{ method.name|lower }}" id="{{ method.name|lower }}"></a>
<a name="{{ method.name }}" id="{{ method.name }}"></a>
### `{{ method.name }}()`
{% if method.tags("since")|length %}
{% for since in method.tags("since") %}

Since Matomo {{ since[0] }}
{% endfor %}
{% endif %}
{% if method.shortdesc %}

{{ method.shortdesc|inlinelinkparser(class)|raw }}
{% endif %}
{% if method.longdesc %}

{{ method.longdesc|inlinelinkparser(class)|raw }}
{% endif %}
{% if method.tags("see") %}

#### See Also

{% for tag in method.tags("see") %}
- `{{ tag[0] }}`{% if tag[1] is defined %} &mdash; {{ tag[1:]|join(" ") }}{% endif %}

{% endfor %}
{% endif %}

#### Signature

{{ member_signature("method", method, class) }}
{% endfor %}
{% endif %}
{% endblock %}