<!DOCTYPE html>
<html>
<head>
    <title>Piwik - Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.3.7.0.js"></script>
    <script src="/js/respond.min.1.3.0.js"></script>
    <![endif]-->

</head>
<body data-spy="scroll" data-target="#sidebar">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img height="20" width="74" src="/img/piwik-logo.png"/></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if isHome is defined and isHome %} class="active"{% endif %}><a href="/">Home</a></li>
                {% for item in menu %}
                    <li {% if path == item.url %} class="active"{% endif %}>
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                {% endfor %}
                <li><a href="http://piwik.org/blog/category/development/" target="_blank">Blog</a></li>
                <li><a href="http://piwik.org/" target="_blank">Piwik.org</a></li>
            </ul>
        </div>
    </div>
</div>

{% block headline %}
    {% if title is defined and title %}
        <div class="container">
            <div class="col-md-12">
                <div class="page-header"><h1>{{ title }}</h1></div>
            </div>
        </div>
    {% endif %}
{% endblock %}

<div class="container">
    {% block content %}
        {{ content|raw }}
    {% endblock %}
</div>

{% block footer %}
    <div class="container">
        <hr/>

        <footer>
            <p class="pull-left">&copy; Piwik.org</p>
            <p class="pull-rightg">{% if linkToEditDocument is defined and linkToEditDocument %}
                    <a href="{{ linkToEditDocument }}" target="_blank">Edit on GitHub</a>
                {% endif %}</p>
        </footer>
    </div>
{% endblock %}

<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>

<!-- Piwik -->
<script type="text/javascript">
    function track() {
        var _paq = _paq || [];
        _paq.push(["setCookieDomain", "*.piwik.org"]);
        _paq.push(["trackPageView"]);
        _paq.push(["enableLinkTracking"]);

        (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://demo.piwik.org/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "36"]);
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
        })();
    }

    if (window.addEventListener) { window.addEventListener("load", track, false); }
    else if (window.attachEvent) { window.attachEvent("onload",track); }
    else {
        track();
    }
</script>
<!-- End Piwik Code -->

</body>
</html>