{% extends 'layout/base.twig' %}

{% block content %}

    <div class="col-md-3">
    <div id="sidebar" class="bs-sidebar panel panel-default">
        {% if sectionTitle %}
            <div class="panel-heading">{{ sectionTitle }}</div>
        {% endif %}
        <div class="panel-body">

            <ul class="nav nav-pills nav-stacked bs-sidenav">
                {% for section in sections %}
                    <li>
                        <a href="#{{ section.id }}"><i class="icon-chevron-right"></i> {{ section.title }}</a>

                        {% if section.children|length %}
                            <ul class="nav">

                            {% for subsection in section.children %}
                                <li><a href="#{{ subsection.id }}">{{ subsection.title }}</a></li>
                            {% endfor %}

                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
    </div>    </div>
    </div>
    <div class="col-md-9">
        {{ doc|raw }}
    </div>
{% endblock %}