<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if title|default is not empty %}{{ title|striptags|raw }} - {% endif %}Matomo Analytics (formerly Piwik Analytics) - Developer Docs - v{{ selectedPiwikVersion }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if urlIfAvailableInNewerVersion %}
        <link rel="canonical" href="https://{{ constant('DOCS_DOMAIN') }}{{ urlIfAvailableInNewerVersion }}">
    {% endif %}
    {% if selectedPiwikVersion < latestPiwikDocsVersion %}
    <meta name="robots" content="noindex">
    {% endif %}
    <link href="/css/bootstrap.min.css?{{ revision|e('html_attr') }}" rel="stylesheet">
    <link href="/css/font-awesome.min.css?{{ revision|e('html_attr') }}" rel="stylesheet">
    <link href="/css/highlight.obsidian.css?{{ revision|e('html_attr') }}" rel="stylesheet" media="screen">
    <link href="/css/app.css?{{ revision|e('html_attr') }}" rel="stylesheet" media="screen">
    <link href="/css/sidebar.css?{{ revision|e('html_attr') }}" rel="stylesheet" media="screen">
    <link href="/css/documentation.css?{{ revision|e('html_attr') }}" rel="stylesheet" media="screen">
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.3.7.0.js?{{ revision|e('html_attr') }}"></script>
    <script src="/js/respond.min.1.3.0.js?{{ revision|e('html_attr') }}"></script>
    <![endif]-->
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>

<div id="menu" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm" href="{{ '/'|completeUrl }}"><img height="20" width="124" src="/img/logo.png"/></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if activeMenu == 'Integrate' %}class="active"{% endif %}>
                    <a href="{{ '/integration'|completeUrl }}">Integrate</a>
                </li>
                <li {% if activeMenu == 'Develop' %}class="active"{% endif %}>
                    <a href="{{ '/develop'|completeUrl }}">Develop</a>
                </li>
                <li {% if activeMenu == 'API Reference' %}class="active"{% endif %}>
                    <a href="{{ '/api-reference'|completeUrl }}">API Reference</a>
                </li>
                <li {% if activeMenu == 'Matomo In Depth' %}class="active"{% endif %}>
                    <a href="{{ '/piwik-in-depth'|completeUrl }}">In Depth</a>
                </li>
                <li {% if activeMenu == 'Changelog' %}class="active"{% endif %}>
                    <a href="{{ '/changelog'|completeUrl }}">Changelog</a>
                </li>
                <li {% if activeMenu == 'Support' %}class="active"{% endif %}>
                    <a href="{{ '/support'|completeUrl }}">Support</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <div id="quick-search-typeahead">
                        <input type="text"
                               data-action="{{ '/data/documents'|completeUrl }}"
                               placeholder="Quick search..."/>
                        {% if availablePiwikVersions|length > 1 %}
                        <select title="Select your Matomo version"
                                class="piwik-version-select"
                                name="piwik">
                            {% for i in availablePiwikVersions %}

                                <option value="{{ currentPath|completeUrlForPiwikVersion(i ~ '.x') }}"
                                        {% if selectedPiwikVersion == i %}selected{% endif %}
                                >Matomo {{ i }}.X</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

{% block headline %}
    {% if title is defined and title and (setPageHeader is not defined or setPageHeader) %}
        <div class="container">
            <div class="page-header"><h1>{{ title }}</h1></div>
        </div>
    {% endif %}
{% endblock %}

{% if noContainer is not defined %}
<div class="container">
{% endif %}
    {% block content %}
        {{ content|raw }}
    {% endblock %}
{% if noContainer is not defined %}
</div>
{% endif %}

{% block footer %}
    <footer>
        <div class="container">
            <p class="pull-left">
                Copyright &copy; <a href="https://matomo.org">Matomo.org</a>
                |
                <a href="https://twitter.com/matomo_org"><i class="fa fa-twitter"></i> Twitter</a>
                |
                <a href="https://github.com/matomo-org"><i class="fa fa-github"></i> GitHub</a>
            </p>
            <p class="pull-right">{% if linkToEditDocument is defined and linkToEditDocument %}
            <a href="{{ linkToEditDocument }}" target="_blank">Edit on GitHub</a>
                {% endif %}</p>
            <p class="pull-right">
                <a href="mailto:developer@matomo.org?subject=Feedback%20Developer%20Guides">Give Feedback</a>{% if linkToEditDocument is defined and linkToEditDocument %}&nbsp;|&nbsp;{% endif %}
            </p>
            <p class="pull-right">
                <a href="https://matomo.org/privacy-policy" target="_blank">Privacy Policy</a>&nbsp;|&nbsp;
            </p>
        </div>
    </footer>
{% endblock %}

<script src="/js/jquery.js?{{ revision|e('html_attr') }}"></script>
<script src="/js/bootstrap.min.js?{{ revision|e('html_attr') }}"></script>
<script src="/js/bootstrap3-typeahead.min.js?{{ revision|e('html_attr') }}"></script>
<script src="/js/app.js?{{ revision|e('html_attr') }}"></script>
<script src="/js/highlight.8.2.min.js?{{ revision|e('html_attr') }}"></script>
<script type="text/javascript">
$(document).ready(function () {
    // Disable language auto-detect on code blocks that don't have a language
    // This prevents a messy highlighting when the block doesn't contain code
    $('pre code:not([class])').addClass('no-highlight hljs');
    hljs.initHighlightingOnLoad();
});
</script>

<!-- Piwik -->
<script type="text/javascript">

    var _paq = _paq || [];
    _paq.push(["disableCookies"]);
    {% block piwik_customization %}{% endblock %}
    _paq.push(["setCustomVariable", 1, 'PiwikVersion', '{{ selectedPiwikVersion }}', 'page']);
    _paq.push(["trackPageView"]);
    _paq.push(["enableLinkTracking"]);

    function track() {

        (function() {
            var u="https://demo.matomo.org/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "36"]);

            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
        })();
    }

    if (window.addEventListener) { window.addEventListener("load", track, false); }
    else if (window.attachEvent) { window.attachEvent("onload",track); }
    else {
        track();
    }
</script>
<!-- End Piwik Code -->

</body>
</html>
