{% set title = guide.seoTitle %}
{% set setPageHeader = false %}
{% extends 'base.twig' %}

{% block content %}

    <div class="row">

        <div class="col-sm-4 col-md-3">
            {% include 'left-menu.twig' %}
        </div>

        <div class="col-sm-8 col-md-9 documentation">
            {% if urlIfAvailableInNewerVersion %}
                <div class="alert alert-warning" role="alert">
                    This documentation is for an outdated Matomo version.<br>
                    <a href="{{ urlIfAvailableInNewerVersion }}" class="alert-link">Click here if you want to read this article for the latest version.</a>
                </div>
            {% endif %}

            {{ guide.renderedContent|raw }}

            {% if guide.subItems is not empty %}
                <h2>What's next?</h2>

                <ul>
                    {% for subItem in guide.subItems %}
                        <li>
                            <a href="{{ subItem.menuUrl|completeUrl }}"> {{ subItem.menuTitle }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if guide.previous or guide.next %}
                <div class="clearfix guide-navigation">
                    {% if guide.previous %}
                        <a class="guide-navigation-prev" href="{{ guide.previous.menuUrl|completeUrl }}">
                            <i class="fa fa-long-arrow-left"></i>
                            {{ guide.previous.menuTitle }}
                        </a>
                    {% endif %}
                    {% if guide.next %}
                        <a class="guide-navigation-next" href="{{ guide.next.menuUrl|completeUrl }}">
                            {{ guide.next.menuTitle }}
                            <i class="fa fa-long-arrow-right"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}

        </div>

    </div>

{% endblock %}
