{% extends 'base.twig' %}

{% block headline %}
    <div class="jumbotron">
        <div class="container">
            <h1>
                Code
                <span class="text-muted">|</span>
                Design
                <span class="text-muted">|</span>
                Innovate
            </h1>
            <p>Welcome to the Matomo Developer Zone (formerly Piwik), the center of innovation in analytics.</p>
        </div>
    </div>

    <section class="jumbotron-categories">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>
                        <i class="fa fa-plug"></i> Integrate
                    </h2>
                    <p>
                        Track your application or access <br/> Matomo data using the HTTP API.
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ '/integration'|completeUrl }}">Integrate Matomo</a>
                    </p>
                </div>
                <div class="col-sm-6">
                    <h2>
                        <i class="fa fa-code"></i> Develop
                    </h2>
                    <p>
                        Extend and customize Matomo by <br/> contributing or developing plugins.
                    </p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ '/develop'|completeUrl }}">Develop Matomo Plugins</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-sm-6 col-md-4">
            <h2>
                <span class="text-success">#</span>
                <a href="{{ '/api-reference'|completeUrl }}">API Reference</a>
            </h2>
            <p>Check out the low-level documentation for the HTTP, JavaScript or PHP API.</p>
        </div>

        <div class="col-sm-6 col-md-4">
            <h2>
                <span class="text-success">#</span>
                <a href="{{ '/changelog'|completeUrl }}">Platform Changelog</a>
            </h2>
            <p>What has changed in the latest Matomo (Piwik) versions for the developers.</p>
        </div>

        <div class="col-sm-6 col-md-4">
            <h2>
                <span class="text-success">#</span>
                <a href="{{ '/support'|completeUrl }}">Community &amp; Support</a>
            </h2>
            <p>Get support or get involved with the developer community.</p>
        </div>

    </div>
    <hr>
{% endblock %}
