<div class="bs-side panel-group">

    {% if category.items|length %}
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="{{ category.url|completeUrl }}">
                        {{ category.name }}
                    </a>
                </h4>
            </div>

            <div class="panel-body bs-sidebar">
                <ul class="nav nav-pills nav-stacked bs-sidenav">
                    {% for item in category.items %}

                        {% if item.menuTitle %}
                            {% set menuClass = (guide.title == item.menuTitle) ? 'active' : '' %}
                            <li class="{{ menuClass }}" title="{{ item.menuTitle|striptags|raw }}">
                                {% if item.menuUrl %}
                                    <a href="{{ item.menuUrl|completeUrl }}">{{ item.menuTitle|raw }}</a>
                                {% else %}
                                    <span>{{ item.menuTitle|raw }}</span>
                                {% endif %}

                                {% set subItems = item.subItems %}

                                <ul class="nav">
                                    {% for subItem in item.subItems %}
                                        {% set menuClass = (subItem.getMenuUrl == currentPath) ? 'active' : '' %}
                                        <li class="{{ menuClass }}" title="{{ subItem.title|striptags|raw }}">
                                            <a href="{{ subItem.menuUrl|completeUrl }}"> {{ subItem.menuTitle|replace({'Piwik': 'Matomo'})|raw }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

        </div>
    {% endif %}

    {% if guide.sections|length %}
        <div class="guide-sections panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{ guide.title|striptags|raw }}
                </h4>
            </div>

            <div class="panel-body bs-sidebar">
                <ul class="nav nav-pills nav-stacked bs-sidenav">
                    {% for section in guide.sections %}
                        <li>
                            <a href="#{{ section.id }}">
                                {{ section.title|striptags|raw }}
                            </a>

                            {% if section.children|length %}
                                <ul class="nav">

                                    {% for subsection in section.children %}
                                        <li><a title="{{ subsection.title }}" href="#{{ subsection.id }}">{{ subsection.title|striptags|raw }}</a></li>
                                    {% endfor %}

                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

</div>
